.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010314;
    padding: 20px 20px;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nav-bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent,
    lch(81.74% 42.72 221.51),
      transparent
    );
    pointer-events: none; /* makes sure it doesn’t block clicks */
  }

.nav-btn {
    background-color: #010314;
    color: #c8c8c8;
    border: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-btn.active {
    border: 1px solid #c8c8c8; 
    color: #fff;
    border-radius: 20px;
  }

.nav-btn:hover {
    color: #fff;
}
