@import "tailwindcss";
@import "tw-animate-css";

@keyframes fade-move-blur-in {
  0% {
    opacity: 1;
    scale: 0.5;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
}


@keyframes fade-blur-in {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@theme {
  --color-gray-900: #202225;
  --color-primary: #5865f2;
  --font-inter: "Inter", sans-serif;
  --animate-fade-move-blur-in: fade-move-blur-in 1.2s ease-out forwards;
  --animate-fade-blur-in: fade-blur-in 1.2s ease-out forwards;
}

@keyframes bg-pulse {
  0%, 100% {
    background-color: rgba(47, 31, 90, 0.6);
  }
  50% {
    background-color: rgba(9, 3, 22, 0.64);
  }
}

.animate-bg {
  animation: bg-pulse 2s ease-in-out infinite;
}